# Data from "Ile de France" (Paris and peripheries)

Data coming from : [here](!https://data-airparif-asso.opendata.arcgis.com/search?q=2020)

In [1]:
import pandas as pd
import numpy as np

# Particulate Matter

## Particulate Matter 2.5µm

Definitions : https://www.epa.gov/pm-pollution/particulate-matter-pm-basics

In [2]:
pm25 = pd.read_csv("2020_PM25.csv")
pm25.head()

,Unnamed: 0,AUT:PM25,PA01H:PM25,RN6:PM25,RUR_N:PM25,RUR-SE:PM25,GON:PM25,A1:PM25,BP_EST:PM25,RUR_S:PM25,BOB:PM25,GEN:PM25,VITRY:PM25,RAMBO:PM25,OBJECTID
0,NaN,Boulevard Péripherique Auteuil,PARIS 1er Les Halles,Route Nationale 6 - MELUN,Zone rurale Nord - Saint-Martin-du-Tertre,Zone rurale Sud-Est - Forêt de Fontainebleau,GONESSE,Autoroute A1 - Saint-Denis,Boulevard Périphérique Est,Zone Rurale Sud - Bois Herpin,BOBIGNY,GENNEVILLIERS,VITRY-SUR-SEINE,Rambouillet,0
1,NaN,AUT,PA01H,RN6,RUR_N,RUR-SE,GON,A1,BP_EST,RUR_S,BOB,GEN,VITRY,RAMBO,1
2,NaN,"PM 2,5 particules","PM 2,5 particules","PM 2,5 particules","PM 2,5 particules","PM 2,5 particules","PM 2,5 particules","PM 2,5 particules","PM 2,5 particules","PM 2,5 particules","PM 2,5 particules","PM 2,5 particules","PM 2,5 particules","PM 2,5 particules",2
3,NaN,PM25,PM25,PM25,PM25,PM25,PM25,PM25,PM25,PM25,PM25,PM25,PM25,PM25,3
4,NaN,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,4

- AUT : AUTEUIL (Périphérique)
- PA01H : Paris 1er Les Halles
- RN6 : Route Nationale 6 - Melun
- RUR_N : Saint Martin du Tertre
- RUR_SE : Fôret de Fontainebleau
- GON : Gonesse
- A1 : Autoroute A1 - Saint-Denis
- BP_EST : Boulevard Périphérique Est
- RUR_S : Bois Herpin
- BOB : Bobigny
- GEN : Gennevilliers
- VITRY : Vitry-sur-Seine
- RAMBO : Rambouillet

In [3]:
pm25.drop("OBJECTID", axis=1, inplace=True)

In [4]:
pm25.columns = ["Date", "AUT", "PA01H", "RN6", "RUR_N", "RUR_SE", "GON", "A1", "BP_EST", "RUR_S", "BOB", "GEN", "VITRY", "RAMBO"]

In [5]:
pm25 = pm25.drop([0, 1, 2, 3, 4], axis=0)
pm25.head()

,Date,AUT,PA01H,RN6,RUR_N,RUR_SE,GON,A1,BP_EST,RUR_S,BOB,GEN,VITRY,RAMBO
5,2020/01/01 01:00:00+00,95.600000,64.400000,39.400000,31.900000,12.300000,42,50.600000,90.600000,7.200000,61.400000,77.800000,72.100000,9.800000
6,2020/01/01 02:00:00+00,47.900000,66,37.900000,32.600000,11.700000,51.800000,53.800000,52.400000,6.100000,56.800000,53.100000,32.900000,8.800000
7,2020/01/01 03:00:00+00,31.800000,44.900000,21.600000,59.500000,9.800000,43.100000,38.400000,36.600000,7.800000,39.400000,51.600000,17.200000,6.200000
8,2020/01/01 04:00:00+00,15,25.100000,18.400000,44.600000,10.200000,28.600000,22.800000,21.200000,NaN,22.700000,31.400000,13.600000,6.900000
9,2020/01/01 05:00:00+00,17.100000,13.600000,18.400000,21.900000,10.700000,23.800000,15.300000,27.500000,13.100000,7.400000,14.900000,13.600000,8.500000

In [6]:
pm25.to_csv("datasets_ileDeFrance/pm25_IleDeFrance.csv", index=False)

## Particulate Matter 10µm

In [7]:
pm10 = pd.read_csv("2020_PM10.csv")
pm10.head()

,Unnamed: 0,RN2:PM10,A1:PM10,TREMB:PM10,RUR_S:PM10,HAUS:PM10,AUT:PM10,BASCH:PM10,VITRY:PM10,DEF:PM10,...,OPERA:PM10,RAMBO:PM10,BOB:PM10,GEN:PM10,LOGNES:PM10,NOGENT:PM10,PA18:PM10,RUR-NO:PM10,BP_EST:PM10,OBJECTID
0,NaN,Route nationale 2 - PANTIN,Autoroute A1 - Saint-Denis,TREMBLAY-EN-FRANCE,Zone Rurale Sud - Bois Herpin,Boulevard Haussmann,Boulevard Péripherique Auteuil,Place Victor Basch,VITRY-SUR-SEINE,LA DEFENSE,...,Place de l'Opéra,Rambouillet,BOBIGNY,GENNEVILLIERS,LOGNES,NOGENT-SUR-MARNE,PARIS 18ème,Zone rurale Nord-Ouest - FREMAINVILLE,Boulevard Périphérique Est,0
1,NaN,RN2,A1,TREMB,RUR_S,HAUS,AUT,BASCH,VITRY,DEF,...,OPERA,RAMBO,BOB,GEN,LOGNES,NOGENT,PA18,RUR-NO,BP_EST,1
2,NaN,PM 10 particules,PM 10 particules,PM 10 particules,PM 10 particules,PM 10 particules,PM 10 particules,PM 10 particules,PM 10 particules,PM 10 particules,...,PM 10 particules,PM 10 particules,PM 10 particules,PM 10 particules,PM 10 particules,PM 10 particules,PM 10 particules,PM 10 particules,PM 10 particules,2
3,NaN,PM10,PM10,PM10,PM10,PM10,PM10,PM10,PM10,PM10,...,PM10,PM10,PM10,PM10,PM10,PM10,PM10,PM10,PM10,3
4,NaN,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,...,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,microg/m3,4

- RN2 : Route Nationale 2 - Pantin
- A1 : Autoroute A1 - Saint-Denis
- TREMB : Tremblay-en-Frnace
- RUR_S : Bois Herpin
- HAUS : Boulevard Haussmann (Paris)
- AUT : Auteuil (Périphérique)
- BASCH : Place Victor Basch
- VITRY : Vitry-sur-Seine
- DEF : La Défense
- ELYS : Avenue des Champs Elysées
- RN6 : Route Nationale 6 - Melun
- PA01H : Paris 1er Les Halles
- PA15L : Paris stade Lenglen
- CERGY : Cergy-Pontoise
- RD934 : RD934 Coulommiers
- OPERA : Place de l'Opéra
- RAMBO : Rambouillet
- BOB : Bobigny
- GEN : Gennevilliers
- LOGNES : Lognes
- NOGENT : Nogent-sur-Marne
- PA18 : Paris 18ème
- RUR-NO : Fremainville
- BP_EST : Boulevard Périphérique Est

In [8]:
pm10.drop("OBJECTID", axis=1, inplace=True)
pm10.columns = ["Date", "RN2", "A1", "TREMB", "RUR_S", "HAUS", "AUT", "BASCH", "VITRY", "DEF", "ELYS",
                "RN6", "PA01H", "PA15L", "CERGY", "RD934", "OPERA", "RAMBO", "BOB", "GEN", "LOGNES",
                "NOGENT", "PA18", "RUR_NO", "BP_EST"]

In [9]:
pm10 = pm10.drop([0, 1, 2, 3, 4], axis=0)
pm10.head()

,Date,RN2,A1,TREMB,RUR_S,HAUS,AUT,BASCH,VITRY,DEF,...,RD934,OPERA,RAMBO,BOB,GEN,LOGNES,NOGENT,PA18,RUR_NO,BP_EST
5,2020/01/01 01:00:00+00,70.600000,63.700000,86,7.200000,72.500000,114.500000,NaN,74.700000,69,...,51,73.700000,11.400000,61.900000,98.700000,42.900000,76.700000,59.200000,37.900000,104.800000
6,2020/01/01 02:00:00+00,66.100000,71.400000,77.700000,8.400000,75.800000,56.600000,NaN,34.300000,79.500000,...,52.400000,77,9,56.900000,66.700000,35.300000,57.500000,59.400000,37.600000,57.500000
7,2020/01/01 03:00:00+00,51.800000,57.700000,69.300000,9.400000,43,33.500000,NaN,14.900000,56.200000,...,50.300000,61.400000,6.600000,40.600000,64.500000,40.100000,45.800000,50.600000,26.100000,41
8,2020/01/01 04:00:00+00,40.800000,30.600000,53.200000,13.700000,22.800000,23.800000,NaN,11,27.600000,...,39,34.900000,8.400000,23.100000,37.900000,42.300000,25,31.100000,10.700000,26.600000
9,2020/01/01 05:00:00+00,23.200000,20.500000,34,16.600000,22.400000,19.600000,NaN,15.300000,15.400000,...,23.800000,18.300000,9.300000,14.400000,17.200000,29.200000,14.700000,14.800000,11.800000,28.800000

In [10]:
pm10.to_csv("datasets_ileDeFrance/pm25_IleDeFrance.csv", index=False)

# Carbon Monoxide

https://en.wikipedia.org/wiki/Carbon_monoxide

In [11]:
co = pd.read_csv("2020_CO.csv")
co.drop("OBJECTID", axis=1, inplace=True)

- PA01H : Paris 1er - Les Halles
- AUB : Aubervilliers
- BASCH : Place Victor Basch
- A1 : Autoroute A1 - Saint-Denis
- AUT : Auteuil (Bd Périphérique)

In [12]:
co.columns = ["Date", "PA01H", "AUB", "BASCH", "A1", "AUT"]

In [13]:
co = co.drop([0, 1, 2, 3, 4], axis=0)
co.head()

                     Date     PA01H       AUB BASCH        A1       AUT
5  2020/01/01 01:00:00+00  0.718000  0.435000   NaN  0.656000  1.123000
6  2020/01/01 02:00:00+00  0.587000  0.480000   NaN  0.759000  0.687000
7  2020/01/01 03:00:00+00       NaN  0.356000   NaN  0.681000  0.494000
8  2020/01/01 04:00:00+00  0.246000  0.180000   NaN  0.453000  0.358000
9  2020/01/01 05:00:00+00  0.204000  0.089000   NaN  0.377000  0.359000

In [14]:
co.to_csv("datasets_ileDeFrance/co_IleDeFrance.csv", index=False)